body {
    padding-top: 7px;
    height: 100vh;
}

div {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.tab-contents {
    height: calc(100% - 60px);
}

.full-height {
    height: 100%;
}

.hide-elem {
    display: none;
    width: 0;
    height: 0;
}

.show-elem {
    display: block;

}

.loading-spinner {
    font-size: 200px;
    opacity: .5;
    position: fixed;
    left: calc(50% - 100px);
    top: calc(50% - 100px);

}

.main-menu {
    width: 100%;
}

.filter-checkbox {
    padding-top: 9px;
    padding-right: 10px;
    float: right !important;
}

.player-style {
    background-color: #e5dee1;
    border-color: #d3b2b4;
}

.layout-style {
    background-color: #d7deef;
    border-color: #acb2db;
}

.region-style {
    background-color: #e7eeff;
    border-color: #bcc2eb;
}

.playlist-style {
    background-color: #e5e3db;
    border-color: #b7caaf;
}

.medium-style {
    background-color: #dce7ea;
    border-color: #b8c8ca;
}

.timing-style {
    background-color: #f4f4e1;
    border-color: #efefba;
}

.tag-filter-style {
    background-color: #e1f4f4;
    border-color: #c1d4d4;
}

.level-style {
    margin: 5px;
}

.templ-style {
    background-color: #f0f8fb;
    border-color: #d2e3e9;
}

.comp-style {
    background-color: #eafdea;
    border-color: #c8f3c8;
}

.conf-style {
    background-color: #fff2f4;
    border-color: #fbd9de;
}

.filter-style {
    background-color: #f8f8f8;
    border-color: #e8e8e8;
}

.time-style {
    background-color: #f8f8f8;
    border-color: #e8e8e8;
}

.logo {
    margin-right: 20px;
    padding: 2px;
    width: 50px;
}

.project-name {
    margin-right: 120px;
}

.level-div {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.main-cell {
    height: 100%;
    display: table-cell;
    padding: 0;
}

.panel-inner-div {
    width: 100%;
    padding: 5px;
    margin: 0;
}

.site-entity-ul {
    margin: 0;
    float: left;
    width: 98%;
}

.site-entity-li {
    padding: 0;
}

.site-entity-li[selected] {
    background-color: white;
}

.site-entity-elem {
    padding: 4px;
}

.site-entity-icon {
    float: left;
    cursor: move;
}

.site-entity-ident {
    font-weight: bold;
    float: left;
    cursor: pointer;
}

.site-entity-title {
    font-style: italic;
    opacity: .6;
    float: left;
    font-size: small;
}

.site-entity-title p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.site-entity-menu-icon {
    background: transparent;
    padding: 0;
}

.site-entity-menu-item {
    padding: 0 6px;
    cursor: pointer;
}

.chosen-entity {
    background-color: rgba(255, 255, 0, .3);
}

.tooltip-style {
    text-align: left;
}

/* UIElement */
.label-col {
width(40 . % %)
}

.value-col {
    width: 100%;
}

.value-input-col {
    width: 100%;
}

.number-input-col {
    width: 100%;
    text-align: right;
}

.entity-input-col {
    width: 100%;
    cursor: pointer;
    text-decoration: underline;
}

.detail-view {
    margin: 5px;
}

.detail-preview {
    background-color: #fcfcfc;
    overflow: auto;
}

.preview-div {
    text-align: center;
    position: absolute;
    width: 100%;
    opacity: 1;
    white-space: nowrap;
}

.preview-div-title {
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;

}

.preview-div-subtitle {
    font-size: x-small;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* detail-vewer */

.detail-viewer {
    padding: 5px;
}

/* filter view */
.filter-view {
    margin-top: 5px;
    background-color: rgba(216, 216, 216, .1);
    border-color: rgba(216, 216, 216, .4);
}

.filter-view-header {
    background-color: rgba(216, 216, 216, .2);
    border-color: rgba(216, 216, 216, .6);
}

.cond-error-message {
    word-break: break-all;
    word-wrap: break-word;
}

/* player monitor */
.monitor-map {
    height: 100%;
    opacity: 0.7;
}

/* drop example */

.drop-zone {
    min-height: 100px;
}

#members li {
    cursor: move;
}

.highlighted {
    background-color: yellow;
}

.validtarget {
    background-color: lightblue;
}
